body {display: flex;}


/***** 카페 왼쪽 사이드 *****/
.main-contents > div > .left-side {position: relative;}
.main-contents > div >  .left-side ul {display: flex; flex-direction: column; gap: 8px;}
.main-contents >  div > .left-side ul:first-child > a {background-color: var(--colourmainblue-300);}
.left-side > .cafe-info {display: flex; justify-content: space-between; border: 1px solid var(--d-3d-3d-3); border-radius: 5px; padding: 8px; width: 165px; box-sizing: border-box; align-items: center;}
.left-side > .cafe-info >.text-box {text-wrap: nowrap;}
.cafe-info > .img-box {width: 48px; height: 48px; border-radius: 24px;}
.cafe-info > .text-box {display: flex; flex-direction: column; justify-content: space-between;}
.left-side > .menu-list {margin: 16px 0; padding: 8px 0;}


/***** 카페 배너 *****/
.cafe-banner {margin-top: 70px; position: relative;}
.cafe-banner > a {display: flex; justify-content: center; background-color: var(--x000000-5);}
.cafe-banner > a > .text-box {width: 1110px; padding: 32px;}
.cafe-banner .img-box {position: absolute; width: 100%; height: 100%; z-index: -10;}


/***** 카페 홈화면 *****/
.main-contents {padding: 16px; margin-top: 0px;}
.cafe-home .hot-box {display: flex; flex-direction: column; gap: 16px;}
.cafe-home .post-list {display: flex; flex-direction: column; gap: 16px;}
.cafe-home .post-list > div {display: flex; flex-direction: column; gap: 8px;}
.cafe-home .post-list .detail {display: flex; gap: 8px;}
.cafe-home .post-list .detail > div {display: flex; gap: 2px; align-items: center;}


/***** 카페 게시판 목록 *****/
.board-list .title-box {display: flex; justify-content: space-between;}
.board-list form {display: flex; gap: 8px;}
.board-list table tr {height: 40px; text-align: center;}
.board-list table tr td {padding: 8px 16px;}
.board-list table thead tr {background-color: var(--x000000-5);}
.board-list .suggest-title {display: flex; flex-direction: column; gap: 8px;}

/***** 카페 게시판 상세 페이지 *****/
.board-detail {flex-direction: column;}
.board-detail .contents {display: flex; flex-direction: column; gap: 16px;}
.board-detail .contents .title-box {display: flex; justify-content: space-between;}
.board-detail .contents .author-box {display: flex; align-items: center; gap: 16px;}
.author-box .img-box {width: 40px; height: 40px; border-radius: 20px;}
.author-box .right-box {display: flex; flex-direction: column; gap: 4px;}
.author-box .right-box > div {display: flex; align-items: center; gap: 8px;}
.board-detail .contents-box {border-top: 1px solid var(--d-3d-3d-3); padding: 8px 0;}
.board-detail .add-func {display: flex; align-items: center; gap: 8px;}
.board-detail .add-func > a {display: flex; align-items: center; gap: 4px; cursor: pointer;}
.board-detail .add-func > div {display: flex; align-items: center; gap: 4px;}
.board-detail .add-func .img-box {width: 20px; height: 20px;}
.board-detail .comment-box form {display: flex; gap: 16px; align-items: center;}
.comment-box form textarea {flex-grow: 1; flex-basis: 0;}
.board-detail .comment-list {padding: 16px 0;}
.comment-list .comment {display: flex; gap: 8px; padding: 16px 0 8px 0;}
.comment-list .comment .img-box {width: 40px; height: 40px; border-radius: 20px;}
.comment-list .comment .right-box {display: flex; flex-direction: column; gap: 8px;}
.comment-list .add-func {display: flex; align-items: center; gap: 8px;}


/***** 카페 생성 폼 *****/
.cafeForm {width: 100%; display: flex; margin-top: 77px; flex-direction: column; align-items: center; gap: 32px; padding: 32px;}
.cafeForm > .form-container {width: 450px; padding: 32px;}
.cafeForm > .form-container > .title-box {margin-bottom: 32px; display: flex; flex-direction: column; gap: 16px;}
.cafeForm form {width: 100%;}
.cafeForm form .input-box {display: flex;}
.cafeForm form {display: flex; flex-direction: column; gap: 16px;}
.cafeForm form label {padding-right: 16px;}
.cafeForm form > div {display: flex; align-items: center; gap: 8px; justify-content: space-between;}
.cafeForm form > div > input {flex-grow: 1;}
.cafeForm form > div > textarea {flex-grow: 1;}
.cafeForm form .img-box {width: 100px; height: 100px; border-radius: 50px;}
.cafeForm form label {text-wrap: nowrap;}
.cafeForm form input[type='submit'] {margin-left: auto; margin-right: 0; width: fit-content;}


/***** 카페 글 작성 폼 *****/
.articleForm {width: 100%; display: flex; flex-direction: column; gap: 32px;}
.articleForm form {width: 100%;}
.articleForm form .input-box {display: flex;}
.articleForm form {display: flex; flex-direction: column; gap: 16px;}
.articleForm form label {padding-right: 16px;}
.articleForm form > div {display: flex; align-items: center; gap: 8px; justify-content: space-between;}
.articleForm form > div > input {flex-grow: 1;}
.articleForm form > div > textarea {flex-grow: 1;}
.articleForm form .img-box {width: 100px; height: 100px; border-radius: 50px;}
.articleForm form label {text-wrap: nowrap;}
.articleForm form input[type='submit'] {margin-left: auto; margin-right: 0; width: fit-content;}
