:root {
  --x-333333: rgba(51, 51, 51, 1);
  --x-999999: rgba(153, 153, 153, 1);
  --coloursecondarywhite-100-general: rgba(255, 255, 255, 1);
  --x-0d-6efd: rgba(13, 110, 253, 1);
  --colourbackground-light-grey: rgba(251, 251, 253, 1);
  --colourmainblue-300: rgba(146, 158, 204, 1);
  --x-000000: rgba(0, 0, 0, 1);
  --d-3d-3d-3: rgba(211, 211, 211, 1);
  --ffffff: rgba(255, 255, 255, 1);
  --signiture: rgba(32, 203, 200, 1);
  --x000000-5: rgba(0, 0, 0, 0.05);
  --colourmainblue-100: rgba(231, 236, 255, 1);
  --colourmainblue-500: rgba(80, 95, 152, 1);
  --colourmainblue-900: rgba(9, 17, 51, 1);
  --colourmainblue-800: rgba(17, 27, 71, 1);
  --colourlogoprimary: rgba(55, 68, 126, 1);
  --colourmainblue-400: rgba(111, 124, 178, 1);
  --colourmaingrey-600: rgba(93, 105, 112, 1);
  --iconblack: rgba(0, 0, 0, 1);
  --colourmainblue-600: rgba(55, 68, 126, 1);
  --colourmainblue-700: rgba(34, 47, 101, 1);
  --colourmaingrey-400: rgba(147, 158, 164, 1);
  --m3syslighton-surface: rgba(29, 27, 32, 1);
  --pretendard-400-13-font-family: "Pretendard", Helvetica;
  --pretendard-400-13-font-weight: 400;
  --pretendard-400-13-font-size: 13px;
  --pretendard-400-13-letter-spacing: 0px;
  --pretendard-400-13-line-height: normal;
  --pretendard-400-13-font-style: normal;
  --pretendard-400-14-font-family: "Pretendard", Helvetica;
  --pretendard-400-14-font-weight: 400;
  --pretendard-400-14-font-size: 14px;
  --pretendard-400-14-letter-spacing: 0px;
  --pretendard-400-14-line-height: normal;
  --pretendard-400-14-font-style: normal;
  --pretendard-400-16-font-family: "Pretendard", Helvetica;
  --pretendard-400-16-font-weight: 400;
  --pretendard-400-16-font-size: 16px;
  --pretendard-400-16-letter-spacing: 0px;
  --pretendard-400-16-line-height: normal;
  --pretendard-400-16-font-style: normal;
  --pretendard-500-14-font-family: "Pretendard", Helvetica;
  --pretendard-500-14-font-weight: 500;
  --pretendard-500-14-font-size: 14px;
  --pretendard-500-14-letter-spacing: 0px;
  --pretendard-500-14-line-height: normal;
  --pretendard-500-14-font-style: normal;
  --pretendard-500-21-font-family: "Pretendard", Helvetica;
  --pretendard-500-21-font-weight: 500;
  --pretendard-500-21-font-size: 21px;
  --pretendard-500-21-letter-spacing: 0px;
  --pretendard-500-21-line-height: normal;
  --pretendard-500-21-font-style: normal;
  --pretendard-500-28-font-family: "Pretendard", Helvetica;
  --pretendard-500-28-font-weight: 500;
  --pretendard-500-28-font-size: 28px;
  --pretendard-500-28-letter-spacing: 0px;
  --pretendard-500-28-line-height: normal;
  --pretendard-500-28-font-style: normal;
  --pretendard-500-16-font-family: "Pretendard", Helvetica;
  --pretendard-500-16-font-weight: 500;
  --pretendard-500-16-font-size: 16px;
  --pretendard-500-16-letter-spacing: 0px;
  --pretendard-500-16-line-height: normal;
  --pretendard-500-16-font-style: normal;
  --pretendard-600-16-font-family: "Pretendard", Helvetica;
  --pretendard-600-16-font-weight: 600;
  --pretendard-600-16-font-size: 16px;
  --pretendard-600-16-letter-spacing: 0px;
  --pretendard-600-16-line-height: normal;
  --pretendard-600-16-font-style: normal;
  --pretendard-600-18-font-family: "Pretendard", Helvetica;
  --pretendard-600-18-font-weight: 600;
  --pretendard-600-18-font-size: 18px;
  --pretendard-600-18-letter-spacing: 0px;
  --pretendard-600-18-line-height: normal;
  --pretendard-600-18-font-style: normal;
  --regular-18-font-family: "Roboto", Helvetica;
  --regular-18-font-weight: 400;
  --regular-18-font-size: 18px;
  --regular-18-letter-spacing: 0px;
  --regular-18-line-height: 30px;
  --regular-18-font-style: normal;
  --medium-50-font-family: "Roboto", Helvetica;
  --medium-50-font-weight: 500;
  --medium-50-font-size: 50px;
  --medium-50-letter-spacing: 1px;
  --medium-50-line-height: 66px;
  --medium-50-font-style: normal;
  --medium-16-font-family: "Roboto", Helvetica;
  --medium-16-font-weight: 500;
  --medium-16-font-size: 16px;
  --medium-16-letter-spacing: 0px;
  --medium-16-line-height: 26px;
  --medium-16-font-style: normal;
  --bold-26-font-family: "Roboto", Helvetica;
  --bold-26-font-weight: 900;
  --bold-26-font-size: 26px;
  --bold-26-letter-spacing: 0px;
  --bold-26-line-height: 38px;
  --bold-26-font-style: normal;
  --regular-14-font-family: "Roboto", Helvetica;
  --regular-14-font-weight: 400;
  --regular-14-font-size: 14px;
  --regular-14-letter-spacing: 0px;
  --regular-14-line-height: 24px;
  --regular-14-font-style: normal;
  --medium-12-font-family: "Roboto", Helvetica;
  --medium-12-font-weight: 500;
  --medium-12-font-size: 12px;
  --medium-12-letter-spacing: 0px;
  --medium-12-line-height: 18px;
  --medium-12-font-style: normal;
  --regular-16-font-family: "Roboto", Helvetica;
  --regular-16-font-weight: 400;
  --regular-16-font-size: 16px;
  --regular-16-letter-spacing: 0px;
  --regular-16-line-height: 26px;
  --regular-16-font-style: normal;
  --medium-36-font-family: "Roboto", Helvetica;
  --medium-36-font-weight: 500;
  --medium-36-font-size: 36px;
  --medium-36-letter-spacing: 0px;
  --medium-36-line-height: 48px;
  --medium-36-font-style: normal;
  --regular-12-font-family: "Roboto", Helvetica;
  --regular-12-font-weight: 400;
  --regular-12-font-size: 12px;
  --regular-12-letter-spacing: 0px;
  --regular-12-line-height: 18px;
  --regular-12-font-style: normal;
  --medium-14-font-family: "Roboto", Helvetica;
  --medium-14-font-weight: 500;
  --medium-14-font-size: 14px;
  --medium-14-letter-spacing: 0px;
  --medium-14-line-height: 24px;
  --medium-14-font-style: normal;
}