<html layout:decorate="~{layout}">
<div layout:fragment="content" class="main-contents dp-flex-clmb">
    <h1> 게시판 </h1>
    <h5> 카테고리 </h5>
    <div th:text="${article.majorCategory.majorCategory} + ' - ' + ${article.majorCategory.minorCategory}"></div>
    <h2 class="border-bottom py-2" th:text="${article.title}">제목</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${article.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2" th:if="${article.author != null}">
                        <span th:text="${article.author.nickname}"></span>
                    </div>
                    <div th:text="${#temporals.format(article.createdDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <a id="article_recommend" class="recommend btn btn-sm btn-outline-secondary">
                    추천
                    <span id="article_recommend_count" class="badge rounded-pill bg-success"
                          th:text="${#lists.size(article.voter)}"></span>
                </a>
                <a th:href="@{|/article/modify/${article.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${userNickname == article.author.nickname}"
                   th:text="수정"></a>
                <a onclick="return confirm('정말 삭제하시겠습니까?')"
                   th:href="@{|/article/delete/${article.id}|}" class="delete btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${userNickname == article.author.nickname}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>

    <h5 class="border-bottom my-3 py-2" th:text="${#lists.size(article.commentList)} + '개의 답변이 있습니다.'"></h5>

    <div class="card my-3" th:each="comment : ${article.commentList}">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${comment.content}"></div>
            <div class="mb-2" th:if="${comment.author != null}">
                <span th:text="${comment.author.nickname}"></span>
            </div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div th:text="${#temporals.format(comment.createdDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <a class="comment_recommend recommend btn btn-sm btn-outline-secondary">
                <input name="comment_id" type= "hidden" th:value="${comment.id}">
                추천
                <span class="comment_recommend_count badge rounded-pill bg-success"
                      th:text="${#lists.size(comment.voter)}"></span>
            </a>
            <div class="my-3">
                <a th:href="@{|/comment/modify/${comment.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${userNickname == comment.author.nickname}"
                   th:text="수정"></a>
                <a onclick="return confirm('정말 삭제하시겠습니까?')"
                   th:href="@{|/comment/delete/${comment.id}|}" class="delete btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${userNickname == comment.author.nickname}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>

    <form th:action="@{|/comment/create/${article.id}|}" th:object="${commentForm}" method="post">
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
        </div>
        <textarea th:field="*{content}" rows="10" class="form-control"></textarea>
        <input type="submit" value="답글달기">
    </form>

    <a th:href="|/article/list|" class="btn btn-primary">목록</a>
</div>

</html>


<script th:inline="javascript">
    $(document).ready(function() {
        var articleId = [[${article.id}]];

        $("#article_recommend").on("click", function() {
            if(confirm("정말로 추천하시겠습니까?")) {
                $.ajax({
                    url: "/article/vote/" + articleId,
                    type: "GET",
                    success: function(response) {
                        $("#article_recommend_count").text(response);
                    },
                    error: function(xhr, status, error) {
                        console.log("오류 발생", error);
                    }
                });
            }
        });

        $(".comment_recommend").on("click", function() {
            if(confirm("정말로 추천하시겠습니까?")) {
                var _this = $(this);
                var commentId = _this.find('input[name=comment_id]').val();

                $.ajax({
                    url: "/comment/vote/" + commentId,
                    type: "GET",
                    success: function(response) {
                        _this.find(".comment_recommend_count").text(response);
                    },
                    error: function(xhr, status, error) {
                        console.log("오류 발생", error);
                    }
                });
            }
        });
    });
</script>