<html layout:decorate="~{layout}">
<div layout:fragment="content" class="main-contents dp-flex-clmb">
  <h1> 게시판 </h1>

  <!-- 검색 폼 추가 -->
  <form method="get" action="/article/list">
    <input type="text" name="kw" placeholder="제목 또는 내용을 입력" value=""/>
    <button type="submit">검색</button>
  </form>

  <table>
    <thead>
    <tr>
      <th>번호</th>
      <th>제목</th>
      <th>작성일</th>
        <th>작성자</th>
      <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="article, loop : ${paging.content}">
      <td th:text="${paging.totalElements - (paging.number * paging.size) - loop.index}"></td>
      <td>
        <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.title}"></a>
          <span class="text-info small ms-2"
                th:if="${#lists.size(article.commentList) > 0}"
                th:text="${#lists.size(article.commentList)}">
        </span>
      </td>
      <td th:text="${#temporals.format(article.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
      <td><span th:if="${article.author != null}" th:text="${article.author.nickname}"></span></td>
      <td><span th:text="${article.view} != null ? ${article.view}:0"></span></td>
    </tr>
    </tbody>
  </table>

  <!--페이징-->
  <div th:if="${!paging.isEmpty()}">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${!paging.hasPrevious()} ? 'disabled'">
        <a th:href="@{|?page=${paging.number-1}|}" class="page-link" th:if="${paging.hasPrevious()}"><span>이전</span></a>
        <span th:if="${!paging.hasPrevious()}" class="page-link"><span>이전</span></span>
      </li>
      <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
          th:if="${page >= paging.number-5 and page <= paging.number+5}"
          th:classappend="${page==paging.number} ? 'active'" class="page-item">
        <a th:text="${page + 1}" th:href="@{|?page=${page}|}" class="page-link"></a>
      </li>
      <li class="page-item" th:classappend="${!paging.hasNext()} ? 'disabled'">
        <a th:href="@{|?page=${paging.number+1}|}" class="page-link" th:if="${paging.hasNext()}"><span>다음</span></a>
        <span th:if="${!paging.hasNext()}" class="page-link"><span>다음</span></span>
      </li>
    </ul>
  </div>


  <a th:href="|/article/create|">글쓰기</a>
</div>
</html>
