<html layout:decorate="~{layout}">
<div layout:fragment="content" class="main-contents dp-flex-clmb">
  <table>
    <thead>
    <th>번호</th>
    <th>제목</th>
    <th>작성일</th>
    <th>조회수</th>
    </thead>
    <tbody>
    <tr th:each="article, loop: ${paging}">
      <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
      <td><a th:href="@{|/article/detail/${article.id}|}" th:text="${article.title}"></a></td>
      <td th:text="${#temporals.format(article.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
      <td><span th:text="${article.view} != null ? ${article.view}:0"></span></td>
    </tr>
    </tbody>
  </table>
  <!--페이징-->
  <div th:if="${!paging.isEmpty()}">
    <ul class="pagination justify-content-center">
      <li class="page-item" th:classappend="${!paging.hasPrevious()} ? 'disabled'">
        <a href="javascript:void(0)" th:data-page="@{|?page=${paging.number-1}|}" class="page-link"><span>이전</span></a>
      </li>
      <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
          th:if="${page >= paging.number-5 and page <= paging.number+5}"
          th:classappend="${page==paging.number} ? 'active'" class="page-item">
        <a th:text="${page+1}" th:href="@{|?page=${page}|}" class="page-link"></a>
      </li>
      <li class="page-item" th:classappend="${!paging.hasNext()} ? 'disabled'">
        <a href="javascript:void(0)" th:data-page="@{|?page=${paging.number+1}|}" class="page-link">
          <span>다음</span>
        </a>
      </li>
    </ul>
  </div>
  <a th:href="|/article/create|">글쓰기</a>
</div>
</html>