<!-- <link rel="stylesheet" href="../static/bootstrap.min.css">
<link rel="stylesheet" href="../static/lib.css">
<link rel="stylesheet" href="../static/styleguide.css">
<link rel="stylesheet" href="../static/style.css"> -->
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="main-contents">
  <div th:replace="~{index_left_side :: leftSideFragment }"></div>
  <div class="air-box"></div>
  <div class="center personal-container personal">
    <div class="profile-box">
      <div class="img-box">
        <img th:src="@{|/file/${user.profileImg != null ? user.profileImg : 'user/user_basic.png'}|}" alt="프로필이미지" />
      </div>
      <div class="detail-box">
        <div class="text-box uname"><span class="f-size-18 f-weight-6" th:text="${user.nickname}"></span></div>
        <div class="text-box intro"><span class="f-size-14" th:text="${user.intro}"></span></div>
        <div class="address">
          <div class="text-box" th:if="${addressList != null}" th:each="address : ${addressList}">
            <a class="f-size-14" th:href="${address}" th:text="${address}" target="_blank"></a>
          </div>
        </div>
      </div>
      <div class="setting-box" sec:authorize="isAuthenticated()" th:if="${user.email != null} and ${#authentication.getPrincipal().username} == ${user.email}">
        <button class="btn btn-primary" th:onclick="@{|window.location.href = '/blog/edit/${user.email}';|}"><span class="f-size-14 f-weight-5">수정</span></button>
        <button class="btn btn-primary" th:onclick="@{|window.location.href = '/user/password';|}"><span class="f-size-14 f-weight-5">비밀번호 재설정</span></button>
      </div>
      <!-- 로그인 했을 때 보일 이웃추가 -->
      <div sec:authorize="isAuthenticated()" th:if="${user.email != null} and ${#authentication.getPrincipal().username} != ${user.email}">
        <a class="btn btn-primary f-size-14 f-weight-5" th:href="@{|/neighbors/add/${user.email}|}">이웃추가</a>
      </div>
      <!-- 로그인 안 했을 때 보일 이웃추가 -->
      <div sec:authorize="isAnonymous()">
        <a class="btn btn-primary f-size-14 f-weight-5" th:href="@{|/neighbors/add/${user.email}|}">이웃추가</a>
      </div>
    </div>
    <div class="post-box dp-flex-clmb">
      <div class="category">
        <a class="btn-b active" id="latest" th:href="|/blog/${user.email}?sort=latest|">최신순</a>
        <a class="btn-b" id="popular" th:href="|/blog/${user.email}?sort=popular|">인기순</a>
      </div>
      <div class="post-list dp-flex-clmb">
        <!-- 활동 내역 표시 -->
        <div class="post" th:each="log, itemStat : ${activityLogs}" th:if="${itemStat.index < 3}">
          <div class="title">
            <a class="f-size-16 f-weight-6"
               th:href="@{|/cafe/${log.cafeId}/detail/${log.articleId}|}"
               th:text="${log.articleTitle}"></a>
          </div>
          <div class="detail-box">
            <div class="text-box"><span class="f-size-14" th:text="${log.cafeName}"></span></div>
            <div class="view-box">
              <div class="img-box"><img th:src="@{/img/Eye.png}" alt="조회수 아이콘"></div>
              <span class="f-size-14" th:text="${log.view != null ? log.view : 0}"></span>
            </div>
            <div class="rcmd-box">
              <div class="img-box"><img th:src="@{/img/Heart.png}" alt="추천 아이콘"></div>
              <span class="f-size-14" th:text="${log.voter != null ? log.voter : 0}"></span>
            </div>
            <div class="cmt-box">
              <div class="img-box"><img th:src="@{/img/Message_circle.png}" alt="댓글 아이콘"></div>
              <span class="f-size-14" th:text="${log.comment != null ? log.comment : 0}"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 내 카페 -->
  <div class="my-cafe-box" sec:authorize="isAuthenticated()">
    <div class="text-box"><span class="f-size-18 f-weight-6" th:text="${user.nickname} + '님이 가입한 & 개설한 카페'"></span></div>
    <div class="category">
      <div class="ctgr-box-in btn active" id="cafe-in" onclick="showCafes('in')"><span>가입한 카페</span></div>
      <div class="ctgr-box-my btn" id="cafe-my" onclick="showCafes('my')"><span> 개설한 카페</span></div>
    </div>
    <div class="cafe-list" id="cafe-in-list">
      <div class="text-box" th:if="${cafeList == null or (cafeList.size() == 0)}"><span class="f-size-16">가입한 카페가 없습니다.</span></div>
      <a th:each="cafe : ${cafeList}" th:href="@{|/cafe/${cafe.id}|}" class="cafe-box-1">
        <div class="profile-img img-box">
          <img th:src="@{|/file/${cafe.profileImg != null ? cafe.profileImg : 'cafe/user_basic.png'}|}" alt="카페 프로필 사진">
        </div>
        <div class="content">
          <div class="title"><span class="f-size-16 f-weight-6" th:text="${cafe.name}">카페이름1</span></div>
          <div class="intro"><span class="f-size-14 f-weight-5" th:text="${cafe.intro}">카페 소개글</span></div>
        </div>
      </a>
    </div>
    <div class="cafe-list d-none" id="cafe-my-list">
      <div class="text-box" th:if="${myCafeList == null or (myCafeList.size() == 0)}"><span class="f-size-16">개설한 카페가 없습니다.</span></div>
      <a th:each="cafe : ${myCafeList}" th:href="@{|/cafe/${cafe.id}|}" class="cafe-box-1">
        <div class="profile-img img-box">
          <img th:src="@{|/file/${cafe.profileImg != null ? cafe.profileImg : 'cafe/user_basic.png'}|}" alt="카페 프로필 사진">
        </div>
        <div class="content">
          <div class="title"><span class="f-size-16 f-weight-6" th:text="${cafe.name}">카페이름1</span></div>
          <div class="intro"><span class="f-size-14 f-weight-5" th:text="${cafe.intro}">카페 소개글</span></div>
        </div>
      </a>
    </div>
  </div>
</div>
  <div class="right-side"></div>
</div>
<!-- 자바 스크립트 -->
<script layout:fragment="script" type='text/javascript'>
  $(document).ready(function() {
    var currentUrl = window.location.href; // 현재 페이지의 URL 가져오기
    var parts = currentUrl.split('='); // '='로 분리

    if (parts.length > 1) { // '='가 있는 경우
        var lastPart = parts[1]; // '=' 뒤의 부분 가져오기
        // 'latest' 또는 'popular'인지 검사
        if (lastPart === 'latest') {
          $("#latest").addClass("active");
          $("#latest").removeClass("disabled");
          $("#popular").addClass("disabled");
          $("#popular").removeClass("active");
        } else if (lastPart === 'popular') {
          $("#popular").addClass("active");
          $("#popular").removeClass("disabled");
          $("#latest").addClass("disabled");
          $("#latest").removeClass("active");
        }
    }
  });

  function showCafes(type) {
      if (type === 'in') {
          document.getElementById('cafe-in-list').classList.remove('d-none');
          document.getElementById('cafe-my-list').classList.add('d-none');
          document.getElementById('cafe-in').classList.add('active');
          document.getElementById('cafe-my').classList.remove('active');
      } else {
          document.getElementById('cafe-my-list').classList.remove('d-none');
          document.getElementById('cafe-in-list').classList.add('d-none');
          document.getElementById('cafe-my').classList.add('active');
          document.getElementById('cafe-in').classList.remove('active');
      }
  }
</script>
</html>