<div th:fragment="cafeLeftSideFragment">
  <div class="left-side">
    <div class="cafe-info full-w">
      <a class="img-box" th:href="@{|/cafe/${cafe.id}|}">
        <img src="" alt="카페 프로필 이미지">
      </a>
      <div class="text-box">
        <a th:href="@{|/cafe/${cafe.id}|}" class="f-size-16 f-weight-6" th:text="${cafe.name}"></a>
        <a th:href="@{|/cafe/modify/${cafe.id}|}" class="f-size-13 f-color-d3">카페 편집</a>
      </div>
    </div>
    <div class="menu-list">
      <ul>
        <li class="menu-1"><a th:href="@{|/cafe/${cafe.id}/notice|}" class="f-size-16 full-w">공지사항</a></li>
        <li class="menu-2"><a th:href="@{|/cafe/${cafe.id}/suggest|}" class="f-size-16 full-w">건의게시판</a></li>
      </ul>
      <hr>
      <!-- <ul th:each="{board_category : ${categoryList}}">
        <li th:text="board_category.name"></li>
      </ul> -->
    </div>
  </div>
</div>