<html layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/cafe.css}">
</head>
<div layout:fragment="content" class="cafeForm">
    <div class="text-box">
        <span class="f-size-28 f-size-6">카페 설정</span>
    </div>
    <form method="post" th:object="${cafeForm}"class="form">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <!--오류메세지-->
        <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
            <div th:each="err: ${#fields.allErrors()}" th:text="${err}"></div>
        </div>
            <!--입력-->
        <div class="input-box">
            <label for="name" class="form-label">카페 이름</label>
            <input type="text" th:field="*{name}" class="input">
        </div>
        <div class="input-box">
            <label for="intro" class="form-label">카페 소개글</label>
            <textarea th:field="*{intro}" rows="10" class="input"></textarea>
        </div>
        <input type="submit" value="등록하기" class="btn btn-primary my-2">
    </form>
</div>
</html>
