<link rel="stylesheet" href="../static/bootstrap.min.css">
<link rel="stylesheet" href="../static/lib.css">
<link rel="stylesheet" href="../static/styleguide.css">
<link rel="stylesheet" href="../static/style.css">
<html layout:decorate="~{layout}">
<!-- 스와이퍼 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<div layout:fragment="content" class="main-contents dp-flex-clmb">
  <div class="top-container">
    <div class="top-box">
      <h2>카페이름</h2>
    </div>
  </div>
  <div class="cafe-left-side">
    <div class="menu-list">
    </div>
  </div>
  <div class="center cafe-contents">
  </div>
  <div class="right-side"></div>
</div>
<!-- 자바 스크립트 -->
<script layout:fragment="script" type='text/javascript'>
  $(document).ready(function() {

  })
</script>
</html>
