<html layout:decorate="~{cafe_layout}">
<head>
  <!-- <link rel="stylesheet" href="../static/bootstrap.min.css">
  <link rel="stylesheet" href="../static/lib.css">
  <link rel="stylesheet" href="../static/styleguide.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/swiper.css"> -->
</head>
<div layout:fragment="content" class="main-contents cafe-home">
  <div class="center">
    <!-- 인기글 -->
    <div class="hot-box">
      <div class="title"><span class="f-size-18 f-weight-6">인기글</span></div>
      <div class="post-list">
        <div th:each="article : ${popularArticles}">
          <div>
            <div class="title">
              <a th:href="@{/cafe/{cafeId}/detail/{articleId}(cafeId=${cafe.id}, articleId=${article.id})}"
                 class="f-size-16 f-weight-6"
                 th:text="${article.title}"></a>
            </div>
            <div class="detail">
              <div class="text-box"><span th:text="${article.author.nickname}"></span></div>
              <div class="view-box">
                <div class="img-box"><img th:src="@{/img/Eye.png}" alt="조회수 아이콘"></div>
                <span class="f-size-14" th:text="${article.view}"></span>
              </div>
              <div class="rcmd-box">
                <div class="img-box"><img th:src="@{/img/Heart.png}" alt="추천 아이콘"></div>
                <span class="f-size-14" th:text="${article.voter.size()}"></span>
              </div>
              <div class="cmt-box">
                <div class="img-box"><img th:src="@{/img/Message_circle.png}" alt="댓글 아이콘"></div>
                <span class="f-size-14" th:text="${article.commentList.size()}"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side"></div>
</div>
<!-- 스와이퍼 js -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!-- 자바 스크립트 -->
<script layout:fragment="script" type='text/javascript'>
  const swiper = new Swiper('.swiper', {
   // Optional parameters
   direction: 'horizontal',
   loop: true,

   // If we need pagination
   pagination: {
     el: '.swiper-pagination',
   },

      slidesPerView: 5,
      spaceBetween: 16,

   // Navigation arrows
   navigation: {
     nextEl: '.swiper-button-next',
     prevEl: '.swiper-button-prev',
   },

  //  // And if we need scrollbar
  //  scrollbar: {
  //    el: '.swiper-scrollbar',
  //  },
 });

 const categoryList = ['ss-1', 'ss-2', 'ss-3', 'ss-4', 'ss-5', 'ss-6', 'ss-7', 'ss-8']; // 카테고리 리스트
 categoryList.forEach(function(value, index) {  // 카테고리 누르면 해당 카페 보여주기
  const swiper_slide = document.querySelector("#"+value);
  swiper_slide.addEventListener("click", function() {
    console.log(this);
  })
 })
</script>
</html>