<div th:fragment="cafeLeftSideFragment">
  <div class="left-side">
    <div class="cafe-info full-w">
      <a class="img-box" th:href="@{|/cafe/${cafe.id}|}">
        <img th:src="@{|/file/${cafe.profileImg != null ? cafe.profileImg : 'cafe/user_basic.png'}|}" alt="카페 프로필 이미지">
      </a>
      <div class="text-box">
        <a th:href="@{|/cafe/${cafe.id}|}" class="f-size-16 f-weight-6 btn" th:text="${cafe.name}"></a>
        <a sec:authorize="isAuthenticated()"
           th:if="${#authentication.getPrincipal().username} == ${cafe.manager.email}"
           th:href="@{|/cafe/modify/${cafe.id}|}" class="f-size-13 f-color-d3 btn"
        >카페 편집</a>
        <!-- 로그인 했을 때 보이는 가입하기 버튼 -->
        <span sec:authorize="isAuthenticated()" th:if="${#authentication.getPrincipal().username} != ${cafe.manager.email}">
          <span th:with="isMember=${false}">
            <span th:each="user : ${cafe.users}">
              <span th:if="${user.name == #authentication.getPrincipal().username}">
                <span th:with="isMember=${true}"></span>
              </span>
            </span>
            <span th:if="${!isMember}">
              <!-- 현재 유저가 카페 회원이 아닌 경우 가입하기 버튼 표시 -->
              <a th:href="@{|/cafe/signup/${cafe.id}|}" class="btn-b f-size-13">카페 가입하기</a>
            </span>
          </span>
        </span>
        <!-- 로그인 안 했을 때 보이는 가입하기 버튼 -->
        <a sec:authorize="isAnonymous()" th:href="@{|/cafe/signup/${cafe.id}|}" class="btn-b f-size-13">카페 가입하기</a>
      </div>
    </div>
    <div class="menu-list">
      <ul class="f-size-16">
        <li class="menu-1"><a th:href="@{|/cafe/${cafe.id}/notice|}" class="full-w">notice</a></li>
        <li class="menu-2"><a th:href="@{|/cafe/${cafe.id}/suggestion|}" class="full-w">suggest</a></li>
      </ul>
      <hr>
      <ul th:each="boardCategory : ${cafe.boardCategory}" th:if="${boardCategory.name != 'notice'} AND ${boardCategory.name != 'suggest'}">
        <li>
          <a th:href="|/cafe/${cafe.id}/${boardCategory.name}|" th:text="${boardCategory.name}"></a>
        </li>
      </ul>
    </div>
  </div>
</div>