<html layout:decorate="~{layout}">
<div layout:fragment="content" class="main-contents">
  <div class="left-side">
    <div class="menu-list">
      <ul>
        <li class="menu-1"><a href="" class="f-size-16 f-weight-6 btn-b full-w">카페 홈</a></li>
        <li class="menu-2"><a href="" class="f-size-16 btn full-w">이웃</a></li>
        <li class="menu-3"><a href="" class="f-size-16 btn full-w">인기글</a></li>
      </ul>    
    </div>
  </div>
  <div class="center">
    <div class="my-cafe-box">
      <div class="title"><span class="f-size-18 f-weight-6">내 카페</span></div>
      <div class="category">
        <div class="ctgr-box-in btn"><span>가입한 카페</span></div>
        <div class="ctgr-box-my btn"><span>내가 만든 카페</span></div>
      </div>
      <div class="cafe-list">
        <div class="cafe-box-1">
          <div class="profile-img img-box">
            <img src="" alt="카페 프로필 사진">
          </div>
          <div class="content">
            <div class="title"><span>카페이름1</span></div>
            <div class="list">
              <div class="list-1">
                <div class="content full-w">카페글 내용</div>
                <div class="date">생성날짜</div>
              </div>
              <div class="list-2">
                <div class="content full-w">카페글 내용</div>
                <div class="date">생성날짜</div>
              </div>
              <div class="list-3">
                <div class="content full-w">카페글 내용</div>
                <div class="date">생성날짜</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cafe-box-2"></div>
        <div class="cafe-box-3"></div>
      </div>
    </div>
    <div class="hot-box">
      <div class="title"><span class="f-size-18 f-weight-6">실시간 인기글</span></div>
      <div class="thumb-list">
        <div>
          <img src="" alt="top1 글 이미지">
          <div class="title"><span>글 제목</span></div>
          <div class="content"><span>글 내용</span></div>
        </div>
        <div>
          <img src="" alt="top1 글 이미지">
          <div class="title"><span>글 제목</span></div>
          <div class="content"><span>글 내용</span></div>
        </div>
        <div>
          <img src="" alt="top1 글 이미지">
          <div class="title"><span>글 제목</span></div>
          <div class="content"><span>글 내용</span></div>
        </div>
        <div class="list">
          <div>
            <div class="title"><span>글 제목</span></div>
            <div class="detail">

            </div>
          </div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side"></div>
</div>
 </html>
