<html layout:decorate="~{layout}">
  <!-- 스와이퍼 -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<div layout:fragment="content" class="main-contents">
  <div class="left-side">
    <div class="menu-list">
      <ul>
        <li class="menu-1"><a href="" class="f-size-16 f-weight-6 btn-b full-w">카페 홈</a></li>
        <li class="menu-2"><a href="" class="f-size-16 btn full-w">이웃</a></li>
        <li class="menu-3"><a href="" class="f-size-16 btn full-w">인기글</a></li>
      </ul>    
    </div>
  </div>
  <div class="air-box"></div>
  <div class="center">
    <!-- 내 카페 -->
    <div class="my-cafe-box">
      <div class="title"><span class="f-size-18 f-weight-6">내 카페</span></div>
      <div class="category">
        <div class="ctgr-box-in btn"><span>가입한 카페</span></div>
        <div class="ctgr-box-my btn"><span>내가 만든 카페</span></div>
      </div>
      <div class="cafe-list">
        <div class="cafe-box-1">
          <div class="profile-img img-box">
            <img th:src="@{img/e2729fba28172ae8831a761a9c60d35c.jpg}" alt="카페 프로필 사진">
          </div>
          <div class="content">
            <div class="title"><span class="f-size-16 f-weight-6">카페이름1</span></div>
            <div class="post-list">
              <div class="list-1">
                <div class="content full-w"><span>카페글 내용</span></div>
                <div class="date"><span>생성날짜</span></div>
              </div>
              <div class="list-2">
                <div class="content full-w"><span>카페글 내용</span></div>
                <div class="date"><span>생성날짜</span></div>
              </div>
              <div class="list-3">
                <div class="content full-w"><span>카페글 내용</span></div>
                <div class="date"><span>생성날짜</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="cafe-box-2"></div>
        <div class="cafe-box-3"></div>
      </div>
    </div>
    <!-- 인기글 -->
    <div class="hot-box">
      <div class="title"><span class="f-size-18 f-weight-6">실시간 인기글</span></div>
      <div class="thumb-list">
        <div>
          <div class="img-box"><img th:src="@{img/e2729fba28172ae8831a761a9c60d35c.jpg}" alt="top1 글 이미지"></div>
          <div class="title"><span class="f-size-16 f-weight-6">글 제목</span></div>
          <div class="content"><span class="f-size-14 f-weight-4">글 내용</span></div>
        </div>
        <div>
          <div class="img-box"><img th:src="@{img/e2729fba28172ae8831a761a9c60d35c.jpg}" alt="top1 글 이미지"></div>
          <div class="title"><span class="f-size-16 f-weight-6">글 제목</span></div>
          <div class="content"><span class="f-size-14 f-weight-4">글 내용</span></div>
        </div>
        <div>
          <div class="img-box"><img th:src="@{img/e2729fba28172ae8831a761a9c60d35c.jpg}" alt="top1 글 이미지"></div>
          <div class="title"><span class="f-size-16 f-weight-6">글 제목</span></div>
          <div class="content"><span class="f-size-14 f-weight-4">글 내용</span></div>
        </div>
      </div>
      <div class="post-list">
        <div>
          <div class="title"><span class="f-size-16 f-weight-6">글 제목</span></div>
          <div class="detail">
            <div class="text-box"><span>카페이름</span></div>
            <div class="view-box">
              <div class="img-box"><img th:src="@{img/Eye.png}" alt="조회수 아이콘"></div>
              <span class="f-size-14">1000</span>
            </div>
            <div class="rcmd-box">
              <div class="img-box"><img th:src="@{img/Heart.png}" alt="추천 아이콘"></div>
              <span class="f-size-14">24</span>
            </div>
            <div class="cmt-box">
              <div class="img-box"><img th:src="@{img/Message_circle.png}" alt="댓글 아이콘"></div>
              <span class="f-size-14">24</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 주제별 인기카페 -->
    <div class="category-hot-box">
      <div class="title"><span class="f-size-18 f-weight-6">주제별 인기카페</span></div>
      <!-- !!!!! 스와이퍼로 대체할 것 -->
      <div class="category">
        <div class="img-box"><img th:src="@{img/navigate_before.png}" alt=""></div>
        <div class="category-list-box">
          <div class="btn category-1"><span>카테고리-1</span></div>
          <div class="btn category-2"><span>카테고리-2</span></div>
          <div class="btn category-3"><span>카테고리-3</span></div>
          <div class="btn category-4"><span>카테고리-4</span></div>
          <div class="btn category-5"><span>카테고리-5</span></div>
          <div class="btn category-6"><span>카테고리-6</span></div>
          <div class="btn category-7"><span>카테고리-7</span></div>
          <div class="btn category-8"><span>카테고리-8</span></div>
          <div class="btn category-9"><span>카테고리-9</span></div>
          <div class="btn category-10"><span>카테고리-10</span></div>
        </div>
        <div class="img-box"><img th:src="@{img/navigate_next.png}" alt=""></div>
      </div>
      <div class="cafe-list">
        <div class="cafe-box-1">
          <div class="profile-img img-box">
            <img th:src="@{img/e2729fba28172ae8831a761a9c60d35c.jpg}" alt="카페 프로필 사진">
          </div>
          <div class="content">
            <div class="title"><span class="f-size-16 f-weight-6">카페이름1</span></div>
            <div class="post-list">
              <div class="list-1">
                <div class="content full-w">카페소개글</div>
                <div class="detail">
                  <div class="user-box">
                    <div class="img-box"><img th:src="@{img/person.png}" alt="유저 아이콘"></div>
                    <div class="text-box"><span class="f-size-13">1000</span></div>
                  </div>
                  <div class="text-box"><span class="f-size-13">세부 카테고리</span></div>
                </div>
              </div>
              <div class="list-2">
              </div>
              <div class="list-3">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side"></div>
</div>
<!-- 자바 스크립트 -->
<script layout:fragment="script" type='text/javascript'>
  
</script>
 </html>
