<html layout:decorate="~{layout}">
<div layout:fragment="content" class="main-contents">
  <!-- 고정 좌측 메뉴 -->
  <div th:replace="~{index_left_side :: leftSideFragment }"></div>
  <div class="center">
    <!-- 내 카페 -->
    <div class="my-cafe-box" sec:authorize="isAuthenticated()">
      <div class="title"><span class="f-size-18 f-weight-6">내 카페</span></div>
      <div class="category">
        <div class="ctgr-box-in btn" id="cafe-in"><span>가입한 카페</span></div>
        <div class="ctgr-box-my btn" id="cafe-my"><span>내가 만든 카페</span></div>
      </div>
      <div class="cafe-list" id="cafe-in-list">
        <a th:each="cafe : ${cafeList}" th:href="@{|/cafe/${cafe.id}|}" class="cafe-box-1">
          <div class="profile-img img-box">
            <img th:src="@{|/file/${cafe.profileImg != null ? cafe.profileImg : 'cafe/user_basic.png'}|}" alt="카페 프로필 사진">
          </div>
          <div class="content">
            <div class="title"><span class="f-size-16 f-weight-6" th:text="${cafe.name}">카페이름1</span></div>
            <div class="intro"><span class="f-size-14 f-weight-5" th:text="${cafe.intro}">카페 소개글</span></div>
          </div>
        </a>
      </div>
      <div class="cafe-list d-none" id="cafe-my-list">
        <a th:each="cafe : ${myCafeList}" th:href="@{|/cafe/${cafe.id}|}" class="cafe-box-1">
          <div class="profile-img img-box">
            <img th:src="@{|/file/${cafe.profileImg != null ? cafe.profileImg : 'cafe/user_basic.png'}|}" alt="카페 프로필 사진">
          </div>
          <div class="content">
            <div class="title"><span class="f-size-16 f-weight-6" th:text="${cafe.name}">카페이름1</span></div>
            <div class="intro"><span class="f-size-14 f-weight-5" th:text="${cafe.intro}">카페 소개글</span></div>
          </div>
        </a>
      </div>
    </div>
    <!-- 인기글 -->
    <div class="hot-box">
      <div class="title"><span class="f-size-18 f-weight-6">실시간 인기글</span></div>
      <div class="post-list">
        <div>
          <div class="title"><span class="f-size-16 f-weight-6">글 제목</span></div>
          <div class="detail">
            <div class="text-box"><span>카페이름</span></div>
            <div class="view-box">
              <div class="img-box"><img th:src="@{img/Eye.png}" alt="조회수 아이콘"></div>
              <span class="f-size-14">1000</span>
            </div>
            <div class="rcmd-box">
              <div class="img-box"><img th:src="@{img/Heart.png}" alt="추천 아이콘"></div>
              <span class="f-size-14">24</span>
            </div>
            <div class="cmt-box">
              <div class="img-box"><img th:src="@{img/Message_circle.png}" alt="댓글 아이콘"></div>
              <span class="f-size-14">24</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-side"></div>
</div>
<!-- 스와이퍼 js -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<!-- 자바 스크립트 -->
<script layout:fragment="script" type='text/javascript'>
 $(document).ready(function() {
  $("#cafe-in").click(() => {
    $("#cafe-in-list").addClass("d-block");
    $("#cafe-in-list").removeClass("d-none");
    $("#cafe-my-list").addClass("d-none");
    $("#cafe-my-list").removeClass("d-block");
  })

  $("#cafe-my").click(() => {
    $("#cafe-my-list").addClass("d-block");
    $("#cafe-my-list").removeClass("d-none");
    $("#cafe-in-list").addClass("d-none");
    $("#cafe-in-list").removeClass("d-block");
  })
 })
 
</script>
</html>