<html layout:decorate="~{layout}">
<head>
    <!-- 카카오 JavaScript SDK -->
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    
</head>
<body>
<div layout:fragment="content" class="main-contents center-box">
    <div class="login-container">
        <div class="text-box"><span class="f-size-21 f-weight-5">InfoShare에 오신 걸 환영합니다.</span></div>
        <div class="form-container">
            <div class="text-box"><span class="f-size-21 f-weight-5">로그인</span></div>
            <form th:action="@{/user/login}" method="post" class="form-box">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        사용자ID 또는 비밀번호를 확인해 주세요.
                    </div>
                </div>
                <div class="input-box">
                    <!-- <label for="username" class="form-label">사용자ID</label> -->
                    <input type="text" name="username" id="username" class="input f-size-14 f-weight-5" placeholder="사용자 Email">
                    <!-- <label for="password" class="form-label">비밀번호</label> -->
                    <input type="password" name="password" id="password" class="input f-size-14 f-weight-5" placeholder="비밀번호">
                </div>
                <div class="btn-box">
                    <button type="submit" class="btn btn-primary"><span class="f-size-14 f-weight-5">로그인</span></button>
                    <button class="btn kakao" onclick="loginWithKakao()"><span class="f-size-14 f-weight-5">카카오로 로그인</span></button>
                    <a href="/oauth2/authorization/google" class="btn-b f-size-14 f-weight-5">구글로 로그인</a>
                </div>
            </form>
            <div class="menu-box">
                <a href="" class="f-size-13">비밀번호 변경</a>
                <span>|</span>
                <a href="" class="f-size-13">회원가입</a>
            </div>
        </div>
    </div>
</div>
</body>
<script layout:fragment="script" type='text/javascript'>
  Kakao.init('417286d7f44c1925fffa003529f1bef8');
    function loginWithKakao() {
        Kakao.Auth.login({
            success: function(authObj) {
                location.href = '/login/oauth2/callback/kakao';
            },
            fail: function(err) {
                alert(JSON.stringify(err));
            }
        });
    }
</script>
</html>
