<html layout:decorate="~{layout}">
<div layout:fragment="content" class="main-contents center-box">
    <div class="signup-container">
        <div class="form-container">
            <div class="text-box">
                <span class="f-size-21 f-weight-5">비밀번호 변경</span>
            </div>
            <form th:action="@{/user/signup}" th:object="${userPasswordForm}" method="post" class="form-box">
                <!--    <div th:replace="~{form_errors :: formErrorsFragment}"></div>-->
                <div>
                    <!-- <label for="username" class="form-label">사용자 Email</label> -->
                    <div class="email-box">
                        <input type="text" th:field="*{email}" class="input f-size-14 f-weight-5" placeholder="사용자Email">
                        <button class="btn btn-primary" onclick="check_email"><span class="f-size-13">인증코드 전송</span></button>
                    </div>
                    <div class="nick-box">
                        <input type="text" class="input f-size-14 f-weight-5" placeholder="인증코드">
                        <button class="btn btn-primary" onclick="check_code"><span class="f-size-13">인증확인</span></button>
                    </div>
                    <!-- <label for="password1" class="form-label">비밀번호</label> -->
                    <input type="password" th:field="*{password1}" class="input f-size-14 f-weight-5" placeholder="비밀번호">
                    <!-- <label for="password2" class="form-label">비밀번호 확인</label> -->
                    <input type="password" th:field="*{password2}" class="input f-size-14 f-weight-5" placeholder="비밀번호 확인">
                    <!-- <label for="nickname" class="form-label">닉네임</label> -->
                </div>
                <button type="submit" class="btn btn-primary"><span class="f-size-16 f-weight-6">비밀번호 변경</span></button>
            </form>
        </div>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    function check_email() {
        console.log("이메일 인증체크");
    }

    function check_code() {
        console.log("인증코드 확인");
    }
</script>
</html>
