<html layout:decorate="~{layout}">
<div layout:fragment="content" class="main-contents center-box">
    <div class="signup-container">
        <div class="form-container">
            <div class="text-box">
                <span class="f-size-21 f-weight-5">비밀번호 변경</span>
            </div>
            <form th:action="@{/user/password}" th:object="${userFindPasswordForm}" method="post" class="form-box">
                <!-- 에러 메시지 표시 부분 (주석 해제 가능) -->
                 <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                <div>
                    <input type="password" th:field="*{password}" class="input f-size-14 f-weight-5" placeholder="비밀번호">
                    <input type="password" th:field="*{password_check}" class="input f-size-14 f-weight-5" placeholder="비밀번호 확인">
                </div>
                <button type="submit" class="btn btn-primary"><span class="f-size-16 f-weight-6">비밀번호 변경</span></button>
            </form>
        </div>
    </div>
</div>
<script layout:fragment="script" type='text/javascript'>
    function check_email() {
        console.log("이메일 인증체크");
    }

    function check_code() {
        console.log("인증코드 확인");
    }
</script>
</html>
