<!--<link rel="stylesheet" href="../static/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="../static/lib.css">-->
<!--<link rel="stylesheet" href="../static/styleguide.css">-->
<!--<link rel="stylesheet" href="../static/style.css">-->
<nav th:fragment="navbarFragment" class="nav">
  <div class="container">
    <div class="left-box">
      <div class="home-box"><a class="f-size-28 f-weight-6" th:href="@{/}">InfoShare</a></div>
      <div class="search-container">
        <div class="search-box">
          <input type="text" placeholder="검색" class="f-size-14">
          <div class="img-box">
            <img th:src="@{/img/search.png}" alt="검색 아이콘">
          </div>
        </div>
      </div>
    </div>
    <div class="right-box">
      <a th:href="@{/user/login}" sec:authorize="isAnonymous()" class="f-size-14">로그인</a>
      <a th:href="@{/user/signup}" sec:authorize="isAnonymous()" class="f-size-14">회원가입</a>
      <div id="user-btn" sec:authorize="isAuthenticated()">
        <div>
          <div class="img-box">
            <img id="profile-img" th:src="@{/file/}" alt="유저 프로필 이미지">
          </div>
          <span id="profile-name"></span>
        </div>
      </div>
      <div class="user-box d-none" id="user-box" sec:authorize="isAuthenticated()">
        <div class="btn"><a href="" id="personal-link" class="f-size-14">개인 페이지</a></div>
        <div class="btn"><span class="f-size-14">카페 만들기</span></div>
        <div class="btn"><a th:href="@{/user/logout}" class="f-size-14">로그아웃</a></div>
      </div>
    </div>
  </div>
</nav>