<html layout:decorate="~{layout}">

<head>
  <!-- 스와이퍼 -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" type="text/css" th:href="@{/swiper.css}">
  <!-- <link rel="stylesheet" href="../static/bootstrap.min.css">
  <link rel="stylesheet" href="../static/lib.css">
  <link rel="stylesheet" href="../static/styleguide.css">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/swiper.css"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>
<div layout:fragment="content" class="main-contents">
  <div th:replace="~{index_left_side :: leftSideFragment }"></div>
  <div class="center personal-container neighbor">
    <div class="neighbor-box">
      <div class="title-box"><span class="f-size-18 f-weight-6">이웃</span></div>
      <div class="neighborList">
        <a th:href="@{|/blog/${neighbor.email}|}" th:each="neighbor : ${neighborList}">
          <div class="img-box"><img th:src="@{|/file/${neighbor.profileImg != null ? neighbor.profileImg : 'user/user_basic.png'}|}" alt="이웃 프로필 이미지"></div>
          <div class="text-box">
            <span th:text="${neighbor.nickname}"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="right-side"></div>
</div>
<!-- 자바 스크립트 -->
<script layout:fragment="script" type='text/javascript'>
</script>
</html>

