<html layout:decorate="~{cafe_layout}">
<div layout:fragment="content" class="main-contents dp-flex-clmb board-list">
  <div class="title-box">
    <span class="f-size-28 f-weight-6"> 공지사항 </span>
    <a sec:authorize="isAuthenticated()"
       th:if="${#authentication.getPrincipal().username} == ${cafe.manager.email}"
       th:href="@{|/cafe/${cafe.id}/notice/create|}"
       class="btn btn-primary">글쓰기</a>
  </div>
  <!-- 검색 폼 추가 -->
  <form method="get" th:action="@{|/cafe/${cafe.id}/notice|}">
    <input type="text" name="kw" placeholder="제목 또는 내용을 입력" value=""/>
  </form>
  <table>
    <thead>
    <tr class="f-size-16 f-weight-6">
      <th>번호</th>
      <th style="width:40%;">제목</th>
      <th>작성일</th>
      <th>작성자</th>
      <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="notice, loop : ${paging.content}" class="f-size-14">
      <td th:text="${paging.totalElements - (paging.number * paging.size) - loop.index}"></td>
      <td style="text-align: left;">
        <a th:href="@{|/cafe/${cafe.id}/notice/detail/${notice.id}|}" th:text="${notice.title}"></a>
        <span class="f-size-13 f-color-d3"
              th:if="${#lists.size(notice.commentList) > 0}"
              th:text="|[${#lists.size(notice.commentList)}]|">
        </span>
      </td>
      <td th:text="${#temporals.format(notice.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
      <td><span th:if="${notice.author != null}" th:text="${notice.author.nickname}"></span></td>
      <td><span th:text="${notice.view} != null ? ${notice.view}:0"></span></td>
    </tr>
    </tbody>
  </table>

  <!-- 페이징 -->
  <div th:if="${!paging.isEmpty()}" class="pagination">
    <ul>
      <li class="" th:classappend="${!paging.hasPrevious()} ? 'disabled'">
        <a th:href="@{|?page=${paging.number-1}|}" class="btn-primary" th:if="${paging.hasPrevious()}"><span>이전</span></a>
        <span th:if="${!paging.hasPrevious()}" class="page-link"><span>이전</span></span>
      </li>
      <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
          th:if="${page >= paging.number-5 and page <= paging.number+5}"
          th:classappend="${page==paging.number} ? 'active'" class="">
        <a th:text="${page + 1}" th:href="@{|?page=${page}|}" class=""></a>
      </li>
      <li class="" th:classappend="${!paging.hasNext()} ? 'disabled'">
        <a th:href="@{|?page=${paging.number+1}|}" class="btn-primary" th:if="${paging.hasNext()}"><span>다음</span></a>
        <span th:if="${!paging.hasNext()}" class=""><span>다음</span></span>
      </li>
    </ul>
  </div>
</div>
</html>
