<html layout:decorate="~{cafe_layout}">
<div layout:fragment="content" class="main-contents board-detail">
  <div class="text-box"><a th:href="@{|/cafe/${cafe.id}/notice|}" class="link f-size-16">&gt; 공지사항</a></div>
  <div class="contents">
    <div class="title-box text-box f-size-28 f-weight-6">
      <span th:text="${notice.title}"></span>
    </div>
    <div class="author-box">
      <div class="img-box">
        <img th:src="@{|/file/${notice.author.profileImg != null ? notice.author.profileImg : 'user/user_basic.png'}|}" alt="작성자 프로필 이미지">
      </div>
      <div class="right-box">
        <div class="" th:if="${notice.author != null}">
          <span class="f-weight-6" th:text="${notice.author.nickname}"></span>
          <!-- 로그인 했을 때 보일 이웃추가 -->
          <div sec:authorize="isAuthenticated()" th:if="${notice.author.email != null} and ${#authentication.getPrincipal().username} != ${notice.author.email}">
            <a class="btn btn-primary f-size-13" th:href="@{|/neighbors/add/${notice.author.email}|}">이웃추가</a>
          </div>
          <!-- 로그인 안 했을 때 보일 이웃추가 -->
          <div sec:authorize="isAnonymous()">
            <a class="btn btn-primary f-size-13" th:href="@{|/neighbors/add/${notice.author.email}|}">이웃추가</a>
          </div>
        </div>
        <div class="f-size-13" th:text="${#temporals.format(notice.createdDate, 'yyyy-MM-dd HH:mm')}"></div>
      </div>
      <a th:href="@{|/cafe/${cafe.id}/notice/modify/${notice.id}|}" class="btn btn-primary f-size-13"
         sec:authorize="isAuthenticated()"
         th:if="${userNickname == notice.author.nickname}"
         th:text="수정"></a>
      <a onclick="return confirm('정말 삭제하시겠습니까?')"
         th:href="@{|/cafe/${cafe.id}/notice/delete/${notice.id}|}" class="btn btn-primary f-size-13"
         sec:authorize="isAuthenticated()"
         th:if="${userNickname == notice.author.nickname}"
         th:text="삭제"></a>
    </div>
    <div class="contents-box f-size-18">
      <div class="" th:text="${@commonUtil.markdown(notice.content)}"></div>
    </div>
  </div>
</div>
<script layout:fragment="script" type='text/javascript'>
</script>
</html>