<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/swiper.css}">
</head>

<body>
<div layout:fragment="content" class="main-contents">
    <div th:replace="~{index_left_side :: leftSideFragment}"></div>
    <div class="center">
        <div class="hot-box">
            <div class="title"><span class="f-size-18 f-weight-6">인기글</span></div>
            <div class="post-list">
                <div th:each="article : ${popularArticles}">
                    <div>
                        <div class="title">
                            <a th:href="@{/cafe/{cafeId}/detail/{articleId}(cafeId=${article.cafe.id}, articleId=${article.id})}"
                               class="f-size-16 f-weight-6"
                               th:text="${article.title}"></a>
                        </div>
                        <div class="detail">
                            <div class="text-box"><span th:text="${article.author.nickname}"></span></div>
                            <div class="view-box">
                                <div class="img-box"><img th:src="@{/img/Eye.png}" alt="조회수 아이콘"></div>
                                <span class="f-size-14" th:text="${article.view}"></span>
                            </div>
                            <div class="rcmd-box">
                                <div class="img-box"><img th:src="@{/img/Heart.png}" alt="추천 아이콘"></div>
                                <span class="f-size-14" th:text="${article.voter.size()}"></span>
                            </div>
                            <div class="cmt-box">
                                <div class="img-box"><img th:src="@{/img/Message_circle.png}" alt="댓글 아이콘"></div>
                                <span class="f-size-14" th:text="${article.commentList.size()}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-side"></div>
</div>
<script layout:fragment="script" type='text/javascript'>
    // JavaScript 코드 삽입
</script>
</body>

</html>
