<html layout:decorate="~{cafe_layout}">
<div layout:fragment="content" class="main-contents board-detail">
  <div class="text-box"><a th:href="@{|/cafe/${cafe.id}/suggestion|}" class="link f-size-16">> 건의게시판</a></div>
  <div class="contents">
    <div class="title-box text-box f-size-28 f-weight-6">
      <span th:text="${comment.title}"></span>
    </div>
    <div class="author-box">
      <div class="img-box">
        <img th:src="@{|/file/${comment.author.profileImg != null ? comment.author.profileImg : 'user/user_basic.png'}|}" alt="작성자 프로필 이미지">
      </div>
      <div class="right-box">
        <div class="" th:if="${comment.author != null}">
          <span class="f-weight-6" th:text="${comment.author.nickname}"></span>
          <!-- 로그인 했을 때 보일 이웃추가 -->
          <div sec:authorize="isAuthenticated()" th:if="${comment.author.email != null} and ${#authentication.getPrincipal().username} != ${comment.author.email}">
            <a class="btn btn-primary f-size-13" th:href="@{|/neighbors/add/${comment.author.email}|}">이웃추가</a>
          </div>
          <!-- 로그인 안 했을 때 보일 이웃추가 -->
          <div sec:authorize="isAnonymous()">
            <a class="btn btn-primary f-size-13" th:href="@{|/neighbors/add/${comment.author.email}|}">이웃추가</a>
          </div>
        </div>
        <div class="f-size-13" th:text="${#temporals.format(comment.createdDate, 'yyyy-MM-dd HH:mm')}"></div>
      </div>
      <a th:href="@{|/cafe/${cafe.id}/comment/modify/${comment.id}|}" class="btn btn-primary f-size-13"
         sec:authorize="isAuthenticated()"
         th:if="${userNickname == comment.author.nickname}"
         th:text="수정"></a>
      <a onclick="return confirm('정말 삭제하시겠습니까?')"
         th:href="@{|/cafe/${cafe.id}/comment/delete/${comment.id}|}" class="btn btn-primary f-size-13"
         sec:authorize="isAuthenticated()"
         th:if="${userNickname == comment.author.nickname}"
         th:text="삭제"></a>
    </div>
    <div class="contents-box f-size-18">
      <div class="" th:utext="${@commonUtil.markdown(comment.content)}"></div>
    </div>
  </div>
  <!-- <a th:href="|/cafe/${cafe.id}/comment|" class="btn-b">목록</a> -->
</div>
<script layout:fragment="script" type='text/javascript'>
  $(document).ready(function() {
    var commentId = [[${comment.id}]];
    var cafeId = [[${cafe.id}]]

    $("#comment_recommend").on("click", function() {
      var _this = $(this);
      var voted = _this.data("voted");

      var message = voted ? "정말로 추천을 취소하시겠습니까?" : "정말로 추천하시겠습니까?";
      if (confirm(message)) {
        if (voted) {
          $.ajax({
            url: "/cafe/" + cafeId + "/comment/unvote/" + commentId,
            type: "GET",
            success: function(response) {
              if (response.includes('<form') && response.includes('login')) {
                window.location.href = '/user/login';
              } else {
                $("#comment_recommend_count").text(response);
                _this.data("voted", false);
              }
            },
            error: function(xhr, status, error) {
              console.log("오류 발생", error);
            }
          });
        } else {
          $.ajax({
            url: "/cafe/" + cafeId + "/comment/vote/" + commentId,
            type: "GET",
            success: function(response) {
              if (response.includes('<form') && response.includes('login')) {
                window.location.href = '/user/login';
              } else {
                $("#comment_recommend_count").text(response);
                _this.data("voted", true);
              }
            },
            error: function(xhr, status, error) {
              console.log("오류 발생", error);
            }
          });
        }
      }
    });
  });
</script>
</html>