<html layout:decorate="~{cafe_layout}">
<div layout:fragment="content" class="main-contents board-detail">
  <div class="text-box"><a th:href="@{|/cafe/${cafe.id}/suggestion|}" class="link f-size-16">> 건의게시판</a></div>
  <div class="contents">
    <div class="title-box text-box f-size-28 f-weight-6">
      <span th:text="${suggestion.title}"></span>
    </div>
    <div class="author-box">
      <div class="img-box">
        <img th:src="@{|/file/${suggestion.author.profileImg != null ? suggestion.author.profileImg : 'user/user_basic.png'}|}" alt="작성자 프로필 이미지">
      </div>
      <div class="right-box">
        <div class="" th:if="${suggestion.author != null}">
          <span class="f-weight-6" th:text="${suggestion.author.nickname}"></span>
          <!-- 로그인 했을 때 보일 이웃추가 -->
          <div sec:authorize="isAuthenticated()" th:if="${suggestion.author.email != null} and ${#authentication.getPrincipal().username} != ${suggestion.author.email}">
            <a class="btn btn-primary f-size-13" th:href="@{|/neighbors/add/${suggestion.author.email}|}">이웃추가</a>
          </div>
          <!-- 로그인 안 했을 때 보일 이웃추가 -->
          <div sec:authorize="isAnonymous()">
            <a class="btn btn-primary f-size-13" th:href="@{|/neighbors/add/${suggestion.author.email}|}">이웃추가</a>
          </div>
        </div>
        <div class="f-size-13" th:text="${#temporals.format(suggestion.createdDate, 'yyyy-MM-dd HH:mm')}"></div>
      </div>
      <a th:href="@{|/cafe/${cafe.id}/suggestion/modify/${suggestion.id}|}" class="btn btn-primary f-size-13"
         sec:authorize="isAuthenticated()"
         th:if="${userNickname == suggestion.author.nickname}"
         th:text="수정"></a>
      <a onclick="return confirm('정말 삭제하시겠습니까?')"
         th:href="@{|/cafe/${cafe.id}/suggestion/delete/${suggestion.id}|}" class="btn btn-primary f-size-13"
         sec:authorize="isAuthenticated()"
         th:if="${userNickname == suggestion.author.nickname}"
         th:text="삭제"></a>
    </div>
    <div class="contents-box f-size-18">
      <div class="" th:utext="${@commonUtil.markdown(suggestion.content)}"></div>
    </div>
  </div>
  <div class="add-func f-size-16">
    <a id="suggestion_recommend" class="" data-voted="false">
      <div class="img-box">
        <img th:src="@{/img/Heart.png}" alt="추천 아이콘">
      </div>
      <span id="suggestion_recommend_count" th:text="${#lists.size(suggestion.voter)}"></span>
    </a>
    <div>
      <div class="img-box">
        <img th:src="@{/img/Message_circle.png}" alt="댓글 아이콘">
      </div>
      <span th:text="${#lists.size(suggestion.commentList)}"></span>
    </div>
  </div>
  <div class="comment-box">
    <div class="comment-list">
      <div class="comment" th:each="comment, loop : ${suggestion.commentList}" th:classappend="!${loop.last} ? 'border-bottom-1'">
        <div class="img-box">
          <img th:src="@{|/file/${comment.author.profileImg != null ? comment.author.profileImg : 'user/user_basic.png'}|}" alt="댓글 프로필 이미지">
        </div>
        <div class="right-box">
          <div class="text-box f-size-16 f-weight-6" th:if="${comment.author != null}" th:text="${comment.author.nickname}"></div>
          <div class="text-box f-size-16" th:text="${comment.content}"></div>
          <div class="add-func">
            <div class="text-box f-size-13 f-color-d3" th:text="${#temporals.format(comment.createdDate, 'yyyy-MM-dd HH:mm')}"></div>
            <a id="comment_recommend" class="btn f-size-13" data-voted="false">
              <input name="comment_id" type="hidden" th:value="${comment.id}">
              <img th:src="@{/img/Heart.png}" alt="추천 아이콘">
              <span id="comment_recommend_count" th:text="${#lists.size(comment.voter)}"></span>
            </a>
            <a th:href="@{|/comment/modify/${comment.id}|}" class="btn btn-primary f-size-13"
               sec:authorize="isAuthenticated()"
               th:if="${userNickname == comment.author.nickname}"
               th:text="수정">
            </a>
            <a onclick="return confirm('정말 삭제하시겠습니까?')"
               th:href="@{|/comment/delete/${comment.id}|}" class="btn btn-primary f-size-13"
               sec:authorize="isAuthenticated()"
               th:if="${userNickname == comment.author.nickname}"
               th:text="삭제">
            </a>
          </div>
        </div>
      </div>
    </div>
    <form th:action="@{|/comment/create/${suggestion.id}|}" th:object="${commentForm}" method="post">
      <div class="" role="alert" th:if="${#fields.hasAnyErrors()}">
        <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
      </div>
      <textarea th:field="*{content}" rows="5" class="btn-b"></textarea>
      <input type="submit" class="btn btn-primary" value="답글달기">
    </form>
  </div>
  <!-- <a th:href="|/cafe/${cafe.id}/suggestion|" class="btn-b">목록</a> -->
</div>
<script layout:fragment="script" type='text/javascript'>
  $(document).ready(function() {
    var suggestionId = [[${suggestion.id}]];

    $("#suggestion_recommend").on("click", function() {
      var _this = $(this);
      var voted = _this.data("voted");

      var message = voted ? "정말로 추천을 취소하시겠습니까?" : "정말로 추천하시겠습니까?";
      if (confirm(message)) {
        if (voted) {
          $.ajax({
            url: "/suggestion/unvote/" + suggestionId,
            type: "GET",
            success: function(response) {
              if (response.includes('<form') && response.includes('login')) {
                window.location.href = '/user/login';
              } else {
                $("#suggestion_recommend_count").text(response);
                _this.data("voted", false);
              }
            },
            error: function(xhr, status, error) {
              console.log("오류 발생", error);
            }
          });
        } else {
          $.ajax({
            url: "/suggestion/vote/" + suggestionId,
            type: "GET",
            success: function(response) {
              if (response.includes('<form') && response.includes('login')) {
                window.location.href = '/user/login';
              } else {
                $("#suggestion_recommend_count").text(response);
                _this.data("voted", true);
              }
            },
            error: function(xhr, status, error) {
              console.log("오류 발생", error);
            }
          });
        }
      }
    });

    $("#comment_recommend").on("click", function() {
      var _this = $(this);
      var voted = _this.data("voted");
      var commentId = _this.find('input[name=comment_id]').val();

      var message = voted ? "정말로 추천을 취소하시겠습니까?" : "정말로 추천하시겠습니까?";
      if (confirm(message)) {
        if (voted) {
          $.ajax({
            url: "/comment/unvote/" + commentId,
            type: "GET",
            success: function(response) {
              if (response.includes('<form') && response.includes('login')) {
                window.location.href = '/user/login';
              } else {
                _this.find("#comment_recommend_count").text(response);
                _this.data("voted", false);
              }
            },
            error: function(xhr, status, error) {
              console.log("오류 발생", error);
            }
          });
        } else {
          $.ajax({
            url: "/comment/vote/" + commentId,
            type: "GET",
            success: function(response) {
              if (response.includes('<form') && response.includes('login')) {
                window.location.href = '/user/login';
              } else {
                _this.find("#comment_recommend_count").text(response);
                _this.data("voted", true);
              }
            },
            error: function(xhr, status, error) {
              console.log("오류 발생", error);
            }
          });
        }
      }
    });
  });
</script>
</html>