<html layout:decorate="~{cafe_layout}">
<div layout:fragment="content" class="main-contents board-detail">
  <div class="text-box"><a th:href="@{|/cafe/${cafe.id}/suggestion|}" class="link f-size-16">> 건의게시판</a></div>
  <div class="contents">
    <div class="title-box text-box f-size-28 f-weight-6">
      <span th:text="${suggestion.title}"></span>
      <a th:href="@{|/cafe/${cafe.id}/suggestion/${suggestion.id}/comment|}" class="btn btn-primary f-size-13"
         sec:authorize="isAuthenticated()"
         th:if="${#authentication.getPrincipal().username} == ${cafe.manager.email}"
         >답변달기</a>
    </div>
    <div class="author-box">
      <div class="img-box">
        <img th:src="@{|/file/${suggestion.author.profileImg != null ? suggestion.author.profileImg : 'user/user_basic.png'}|}" alt="작성자 프로필 이미지">
      </div>
      <div class="right-box">
        <div class="" th:if="${suggestion.author != null}">
          <span class="f-weight-6" th:text="${suggestion.author.nickname}"></span>
          <!-- 로그인 했을 때 보일 이웃추가 -->
          <div sec:authorize="isAuthenticated()" th:if="${suggestion.author.email != null} and ${#authentication.getPrincipal().username} != ${suggestion.author.email}">
            <a class="btn btn-primary f-size-13" th:href="@{|/neighbors/add/${suggestion.author.email}|}">이웃추가</a>
          </div>
          <!-- 로그인 안 했을 때 보일 이웃추가 -->
          <div sec:authorize="isAnonymous()">
            <a class="btn btn-primary f-size-13" th:href="@{|/neighbors/add/${suggestion.author.email}|}">이웃추가</a>
          </div>
        </div>
        <div class="f-size-13" th:text="${#temporals.format(suggestion.createdDate, 'yyyy-MM-dd HH:mm')}"></div>
      </div>
      <a th:href="@{|/cafe/${cafe.id}/suggestion/modify/${suggestion.id}|}" class="btn btn-primary f-size-13"
         sec:authorize="isAuthenticated()"
         th:if="${userNickname == suggestion.author.nickname}"
         th:text="수정"></a>
      <a onclick="return confirm('정말 삭제하시겠습니까?')"
         th:href="@{|/cafe/${cafe.id}/suggestion/delete/${suggestion.id}|}" class="btn btn-primary f-size-13"
         sec:authorize="isAuthenticated()"
         th:if="${userNickname == suggestion.author.nickname}"
         th:text="삭제"></a>
    </div>
    <div class="contents-box f-size-18">
      <div class="" th:utext="${@commonUtil.markdown(suggestion.content)}"></div>
    </div>
  </div>
</div>
<script layout:fragment="script" type='text/javascript'>
</script>
</html>